[Unit]
Description=The Ultron
After=network.target

[Service]
User={{USER}}
WorkingDirectory={{PROJECT_DIR}}
ExecStart={{PROJECT_DIR}}/ultron/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
Environment=PATH={{PROJECT_DIR}}/venv/bin

[Install]
WantedBy=multi-user.target
